//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// Globals/
// --------------------------------------------------

//
// Modules/
// --------------------------------------------------

//
// Globals/
// --------------------------------------------------

//
// application/
// --------------------------------------------------

// _header.scss
#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-main-header;
    background: rgba(255,255,255,0.9);
    h1 {
        margin-bottom: 0;
        img {
            display: block;
        }
    }
    @media screen and (min-width: $screen-tablet) {
        border-top: 6px solid $brand-accent;
    }
    @media print {
        position: relative;
        border-top: none;
    }
}


#brand-logo {
    float: left;
    padding: .25rem;
    font-size: 1rem;
    line-height: 1.875rem;
    a {
        color: $brand-primary;
        &:hover {
            text-decoration: none;
        }
    }
    img {
        width: 170px;
        @media screen and (min-width: $screen-tablet) {
            width: 206px;
        }
    }
    @media screen and (min-width: $screen-tablet) {
        padding: .375rem $padding-base;
        line-height: 3.75rem;
    }
    @media screen and (min-width: $screen-desktop) {
        font-size: 1.25rem;
        padding: .375rem $padding-large;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        font-size: 1.5rem; //24px
    }
}

#about-nav {
    float: left;
    padding: 0.375rem 1.5rem;
    @media screen and (min-width: $screen-tablet) {
        float: right;
        padding: $padding-base;
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
    }
    @media print, screen and (min-width: $screen-desktop) {
        padding: $padding-base $padding-large;
        padding-top: 0.375rem;
    	padding-bottom: 0.375rem;
    }
}

#organization-logo {
    float: left;
    img {
        width: 56px;
        @media screen and (min-width: $screen-tablet) {
            width: 40px;
            margin: 0 auto;
        }
    }
}

.menu {
    position: relative;
    margin: 0;
    @media screen and (min-width: $screen-tablet) {
        margin: -6px 0 0;
    }
    > li {
        position: relative;
        list-style-type: none;
        float: left;
        box-sizing: border-box;
        padding: .25rem;
        border-top: 3px solid $brand-accent;
                box-shadow: 1px 0 0 0 $gray-lighter inset;
        -webkit-box-shadow: 1px 0 0 0 $gray-lighter inset;
        > a {
            display: block;
            vertical-align: middle;
            font-size: $font-size-smaller;
            line-height: 1.25rem/*20px*/;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
        div.icon {
            width: $line-height-base;;
            height: $line-height-base;;
            margin: 0 auto .25rem;
            font-size: $font-size-base;
            line-height: $line-height-base;
            border-radius: $border-radius-base;
        }
        .menu-item-label {
            display: none;
            @media screen and (min-width: $screen-tablet) {
                display: block;
            }
        }
        @media screen and (min-width: $screen-tablet) {
            border-top-width: 6px;
            padding: $padding-base;
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
        }
        &:first-child {
                    box-shadow: none;
            -webkit-box-shadow: none;
        }
        &:hover {
            border-top-color: $brand-primary;
            > a {
                color: $brand-primary;
            }
        }
    }
    @media print {
        display: none;
    }
}


#home-intro {
    min-height: calc(100vh - 4.875rem);
    background: #f00;
}

// _mais-section.scss
#main-section {
    position: relative;
    margin-top: 0px;
    background-color: $gray-lighter;
    @media print {
        margin-top: 0 !important;
        background-color: #fff;
    }
}

// _home.scss
#home-watermark {
    display: none;
}

#home-intro {
    min-height: calc(100vh); // viewport height minus header height
    background: transparent url(../img/fundo.jpg) no-repeat top;
    background-size: cover;
    .box {
    	top: 11em;
        float: none;
        width: auto;
    }
    .btn-large {
        display: block;
        width: 100%;
        max-width: 272px;
        margin: auto;
    }
    .view-more {
        position: relative;
        z-index: $z-index-home-watermark + 1;
        margin-left: -2rem;
        font-size: 4rem;
        text-align: center;
        line-height: 1;
        top: 3em;
    }
}
//
// Components/
// --------------------------------------------------

//
// vendor/

// --------------------------------------------------